<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/newStyle.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/minibar.min.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="{{ "/assets/css/styles/vs2015.css" }}">
    <script src="{{ "/assets/js/highlight.pack.js" }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="shortcut icon" type="image/x-icon" href="https://api.arcadier.com/assets/images/favicon/favicon-16x16.png">
  </head>
  <body class="page-welcome  welcome-body">
    <div class="main-wrapper">
    <header>
      <div class="container-fluid">
        <div class="row">
        	
          <div class="col-md-2 col-sm-2">
          	
            <div class="mobile side-togller ">
                <a class="side-opener toggle-menu" href="javascript:;">  <img src="../assets/img/nav.png"></a>
            </div>
            <div class="arc_logo pull-left">
              <a href="https://www.arcadier.com/"><img src="../assets/img/arc.svg" alt="Logo"></a>					
            </div>
            <div class="mobile menu-togller pull-left">
                <a class="opener toggle-menu" href="javascript:;"> <img src="../assets/img/arrow.png"></a>
            </div>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="top-menu pull-right">
              <!-- <input type="checkbox" id="btn"/> -->
              <ul >
                <!-- <li><a href="https://www.arcadier.com/why.html">Date</a></li> -->
                <li><a href="https://api.arcadier.com/sdk" target="_blank"><i class="icon icon-arrowleft"></i>Back To SDK List</a></li>
                
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">Report an Issue</a></li>
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues/new?assignees=&labels=&template=feature_request.md&title=" target="_blank">Request a Feature</a></li>
                              
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues" target="_blank">Visit Issue Tracker</a></li>
                <li class="desktop"><div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="346b915f84ec00600260"></div></li>                           
                <li class="view"><a href="https://apiv2.arcadier.com/" class="postmane-sec-link" target="_blank" rel="noopener">Go to Postman <img src="../assets/img/postman.svg"></a></li>
              </ul>
            </div>
          </div>
          <div class="mobile_nav">
            <ul class="menu align-vertical" style="padding-top: 170px;">
              <!-- <li><a href="https://www.arcadier.com/why.html">Date</a></li> -->
              <li><a href="https://api.arcadier.com/sdk" target="_blank"><i class="icon icon-arrowleft"></i>Back To SDK List</a></li>
                
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">Report an Issue</a></li>
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues/new?assignees=&labels=&template=feature_request.md&title=" target="_blank">Request a Feature</a></li>
                              
                <li><a href="https://github.com/Arcadier/Developer-Community-Support/issues" target="_blank">Visit Issue Tracker</a></li>
              <li class="desktop clearfix">
                <div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="346b915f84ec00600260"></div>
                <div class="view"><a href="https://apiv2.arcadier.com/" class="postmane-sec-link" target="_blank" rel="noopener">Go to Postman <img src="../assets/img/postman.svg"></a></div>
              </li>                           
            </ul> 
          </div> 
        </div>
      </div>
    </header>
    
	  <div class="wrapper grab_wrapper">
      <div class="sidebar">
        <h4>PHP -SDK</h4>
        <div class="scroller">
          <div class="inner">
            <ul>
              <li class="active"><a href="#">Table of Contents</a></li>
              <li><a href="#">Initialising</a></li>
              <li><a href="#authentication-and-sso">Authentication and SSO</a>
                <ul class="sub-nav">
                  <li><a href="##single-sign-on">Single Sign On</a></li>
                  <li><a href="#log-inget-admin-token">Log In/Get Admin Token</a></li>
                  <li><a href="#log-out">Log Out</a></li>
                </ul>
              </li>
              <li><a href="#user-accounts">User Accounts</a>
                <ul class="sub-nav">
                  <li><a href="#get-a-users-details">Get A User’s details</a></li>
                  <li><a href="#get-all-buyers">Get All Buyers</a></li>
                  <li><a href="#get-all-merchants">Get All Merchants</a></li>
                  <li><a href="#get-all-users">Get All Users</a></li>
                  <li><a href="#create-buyer-account">Create Buyer Account</a></li>
                  <li><a href="#update-user-information">Update User information</a></li>
                  <li><a href="#upgrade-user-role">Upgrade User Role</a></li>
                  <li><a href="#delete-user">Delete User</a></li>
                  <li><a href="#get-password-reset-token">Get Password Reset Token</a></li>
                  <li><a href="#update-password">Update Password</a></li>
                </ul>
              </li>
              <li><a href="#addresses">Addresses</a>
                <ul class="sub-nav">
                  <li><a href="#get-user-address">Get User Address</a></li>
                  <li><a href="#create-user-address">Create User Address</a></li>
                  <li><a href="#update-user-address">Update User Address</a></li>
                  <li><a href="#delete-user-address">Delete User Address</a></li>
                </ul>
              </li>
              <li><a href="#items">Items</a>
                <ul class="sub-nav">
                    <li><a href="#get-item-information">Get Item Information</a></li>
                </ul>
              </li>
              <li><a href="#cart">Cart</a></li>
              <li><a href="#orders">Orders</a></li>
              <li><a href="#transactions">Transactions &amp; Invoices</a></li>
              <li><a href="#custom-tables">Custom Tables</a></li>
              <li><a href="#event-triggers">Event Triggers</a></li>
              <li><a href="#e-mail">E-mail</a></li>
              <li><a href="#static">Static</a></li>
              <li><a href="#categories">Categories</a></li>
              <li><a href="#marketplace">Marketplace</a></li>
              <li><a href="#custom-fields">Custom Fields</a></li>
              <li><a href="#shipping/Delivery">Shipping/Delivery</a></li>
              <li><a href="#checkout">Checkout</a></li>
              <!-- <li>Payment Gateways</li>
              <li>Panels</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="left-section">
        <div class="content-inner">
          {{ content }}
        </div>
      </div>
    </div>   
      
  </div>
  <script src="{{ "/assets/js/jQuery.js" }}"></script>
  <!-- <script src="{{ "/assets/js/scale.fix.js" }}"></script> -->
  <!-- <script src="../assets/js/scale.fix.js"></script> -->
  <script src="{{ "/assets/js/bootstrap.min.js" }}"></script>
  <script src="{{ "/assets/js/minibar.min.js" }}"></script>
  <!-- <script src="../assets/js/changelog.js"></script> -->
  <script>
    new MiniBar('.sidebar  .inner' , {
      scrollX: true,
      scrollY: true,
    });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
    $(document).ready(function(){
    	$('body').on('click' , '.side-opener' , function(){
    			$(".sidebar").toggleClass('active');
    	});
    });
  </script>
  </body>
</html>
